PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/bilal_ibn_rabah
JWT_SECRET=change_this_to_a_long_random_secret_key
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# بيانات Cloudinary لرفع وتخزين الصور (الشعار، صور الموظفين والطلاب)
# اعمل حساب مجاني على https://cloudinary.com ثم هتلاقي البيانات دي
# جاهزة في لوحة التحكم (Dashboard) بتاعتك مباشرة

CLOUDINARY_CLOUD_NAME=tbx4po7l
CLOUDINARY_API_KEY=861559844223787
CLOUDINARY_API_SECRET=2MUdhyNqJp_a0Jd1vMCSTPKGZH0

# بيانات الأدمن الرئيسي التي سيتم إنشاؤها عند تشغيل seed
SUPER_ADMIN_NAME=المدير العام
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=Admin@12345
