PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/bilal_ibn_rabah
JWT_SECRET=change_this_to_a_long_random_secret_key
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# بيانات الأدمن الرئيسي التي سيتم إنشاؤها عند تشغيل seed
SUPER_ADMIN_NAME=المدير العام
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=Admin@12345
